@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Sora:wght@400;600;700&display=swap');
@import 'tailwindcss';

@plugin "daisyui" {
  themes: night --default;
}
